@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Nanum+Gothic:wght@700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@200;400&family=Nanum+Gothic:wght@700&family=Rubik+Mono+One&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=IBM+Plex+Mono&display=swap');
/*font-family: 'Hurricane', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=IBM+Plex+Mono&family=Righteous&display=swap');

/*font-family: 'Righteous', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=IBM+Plex+Mono&family=Righteous&family=Taviraj:wght@200&display=swap');
/*font-family: 'Taviraj', serif;*/


@font-face {
  src: url(fonts/Ocean/OceanBold.ttf);
  font-family: ocean;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  width: 98.9vw;
  height: 100vh;

 
  background-image:linear-gradient( rgba(164, 164, 164, 0.4), rgba(148, 152, 156, 0.3) ), url("images/header-side4.jpg");
  
  background-repeat: no-repeat;
  background-size:cover;
}
/* ====================nav========================*/

.center-header {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
}
.header-logo {
  color: #edf6f9;
  font-size: 2rem;
  margin:.5rem 2%;
}




.topnav {
  width:100%;
  overflow: hidden;
  background-color: #2d6a4f;
  position:fixed;
  z-index:1000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/**********#212529***********#2d6a4f***********#023e8a ---------#edf6f9****************/

.header-part2{
  width:100%;
  height:90%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:4%;
}
.header-h1{
  font-size:700%;
  color:#2d6a4f;
  font-family:ocean;
}
.header-part2 p{
  font-family: 'Hurricane', cursive;
  font-size:300%;
  letter-spacing:.3rem;
  color:#5c677d;
}




.subject{
  
    width: 98.7vw;
    height: auto;
    display:flex;
    flex-direction:column;
    
    align-items:center;
    gap:2%;
    padding-top:2%;
  }


  .sem-cards{
    display:flex;
    flex-wrap:wrap;
    gap:10%;
    
  }
  .semester{
    width:75%;
    height:auto;
  }

  .bca-sem{
    font-size:400%;
    color:#2d6a4f;
    font-family: 'Taviraj', serif;
  }
  .card-body{
    padding: .5rem 1rem;
  }
  .btn{
    background-color:#f4faf7;
    color:#2d6a4f;
    line-height:1;
    padding: .5rem .5rem;
font-size: 1rem;
border-radius: .3rem;

  }
  .dropdown{
    margin-bottom:1rem;
    font-family: 'Montserrat', sans-serif;
  }
  
.bca{
  color:#2d6a4f;
  font-size:400%;
  font-family: 'Taviraj', serif;
  margin-top:1rem;
}
.bba{
  width:100vw;
  height:100vh;
  background-color:#04AA6D;
}
  
footer{
  background-color:#2d6a4f;
}
